[*]
indent_size = 2
indent_style = space

insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
# Needs to be 4 so that nested lists are properly interpreted by
# Python-Markdown, which insists on four-space indents.
indent_size = 4

[Pipfile.lock]
indent_size = 4
