version: 2.0

jobs:
    build:
        docker:
            - image: circleci/python:3
        steps:
            - checkout

            - restore_cache:
                key: cache-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
            - run: pipenv install --dev
            - save_cache:
                key: cache-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
                paths:
                    - "/home/circleci/.local/share/virtualenvs"
            - run: pipenv run build
            - run: pipenv run lint-yaml

    deploy:
        docker:
            - image: circleci/python
        steps:
            - add_ssh_keys:
                fingerprints:
                    - "9e:a9:7b:98:8d:0a:69:22:29:eb:34:14:90:73:a2:5a"
            - checkout
            - restore_cache:
                key: cache-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
            - deploy:
                name: Deploy to Github Pages
                command: ./.circleci/deploy.sh


workflows:
    version: 2
    build-and-deploy:
        jobs:
            - build
            - deploy:
                requires:
                    - build
                filters:
                    branches:
                        only: master
